#highscoreList{
    list-style: none;
    padding-left: 0%;
    margin-bottom: 4rem;
}

.high-score-list{
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}


.high-score-list:hover{
    transform: scale(1.025);
}